body {
  width: 800px;
/*  margin: 0 auto;*/
  background: #c65405;
  font-family: "Arial";
}

.navigation-logo {
  float: left;
  margin-left: 50px;
  margin-top: 30px;
}

.main-navigation {
  float: right;
  margin-right: 57px;
}

.container:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
  
}

.index-logo {
  position: relative;
  background: url(../img/logo-big1.jpg) no-repeat center;
  min-height: 318px;
}

h1 {
  font-weight: 900;
  font-size: 45px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  
}

.hello {
  width: 620px;
  margin: 0 auto;
}

.main-block {
  width: 700px;
  margin: 0 auto;
  background: #ffffff;
  
  margin-top: -22px; /*Хотелось бы избавиться от этого*/
}

.main-block h2 {
  text-align: center;
}

.about-loren {
  width: 620px;
  margin: 0 auto;
  color: #ffffff;
  background: #fda907;
}

.about-loren p,
.about-loren-bottom p {
  width: 543px;
  margin: 0 auto;
}

.client h3 {
  text-align: center;
}

.news {
  width: 700px;
  margin: 0 auto;
}

.news h2 {
  color: #ffffff;
  text-align: center;
}

.news-item {
  width: 341px;
  background: #ffffff;
  margin-bottom: 18px;
}

.news-item:nth-child(even) {
  float: left;
}

.news-item:nth-child(odd) {
  float: right;
}

.news-item a {
  color: #fda907;
}

.products {
  width: 700px;
  margin: 0 auto;
  background: #ffffff;
}

.products h2 {
  text-align: center;
}

.products-item {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.item-left {
  margin-left: 40px;
}

.about-loren-bottom {
  width: 700px;
  height: 256px;
  margin: 0 auto;
  margin-bottom: 50px;
  background: url(../img/what-back.jpg);
  color: #ffffff;
}

.about-loren-bottom h2 {
  text-align: center;
}

.main-footer {
  background: #af4102;
}

.footer-social {
  text-align: center;
}

.social-fb {
  background: url(../img/f-log.png) no-repeat center;
}

.social-btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 0px;
}

.social-tw {
  background: url(../img/tw-logo.png) no-repeat center;
}

.social-in {
  background: url(../img/in-logo.png) no-repeat center;
}

.social-g {
  background: url(../img/g-logo.png) no-repeat center;
}

.social-p {
  background: url(../img/p-logo.png) no-repeat center;
}

.social-inst {
  background: url(../img/inst-logo.png) no-repeat center;
}

.social-youtube {
  background: url(../img/youtube-logo.png) no-repeat center;
}

.email-delivery {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  
  color: #e47519;
}

.footer-copyright {
  text-align: center;
  color: #e47519;
}

.button-learn {
  display: inline-block;
  padding: 5px 20px;
  font-size: 15px;
  line-height: 33px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}



.learn-orange {
  background: #fda907;
}

.learn-white {
  background: #ffffff;
  color: #fda907
}

.title {
  position: absolute;
  top: 100px;
  left: 184px;
  width: 430px;
  
}
